{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - TUNEASY!{% endblock %}

{% block body %}
    <div class="block-small">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-info">{{ message }}</div>
        {% endfor %}

        <div class="container">

            <br><br>

            <center>
                <form method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Réinitialisation de mot de passe</h1>
                    <label for="inputEmail">Votre email</label>
                    <input type="email"  name="email" id="inputEmail" class="form-control" required autofocus>



                    <button class="rt-btn rt-gradient pill rt-sm3 text-uppercase rt-mt-10" type="submit">
                        Valider
                    </button>
                    <hr>
                    <p class="text-center">Ou souhaitez -vous<a href="{{ path('app_login') }}"> vous connecter</a> ? </p>
                </form>
            </center>
        </div>

    </div>



    {#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>
    #}

{% endblock %}
